{{#if outside}}
{{#if isDynamicRoute}}
import { GetStaticProps, GetStaticPaths } from 'next';
import { getPaths } from '~/utils/translate';
{{else}}
import { GetStaticProps } from 'next';
{{/if}}
const {{pageName}} = () => {
   return <div>This is {{pageName}}</div>;
};

{{#if isDynamicRoute}}
export const getStaticPaths: GetStaticPaths = async () => {
   return {
      paths: getPaths({{dynamic dynamicParams}}),
      fallback: false,
   };
};
{{/if}}

{{else}}
import { GetStaticProps, GetStaticPaths } from 'next';
import { getLanguagesPaths } from '~/utils/translate';

const {{pageName}} = () => {
   return <div>This is {{pageName}}</div>;
};

export const getStaticPaths: GetStaticPaths = async () => {
   return {
      paths: getLanguagesPaths({{#if isDynamicRoute}}{{dynamic dynamicParams}}{{/if}}),
      fallback: false,
   };
};
{{/if}}

/******************************************************************
 *
 *  THIS PAGE IS USING STATIC SITE GENERATION
 *
 ******************************************************************/

{{#if isDynamicRoute}}
/* ----- You can access the all params inside getStaticProps ---- */

export const getStaticProps: GetStaticProps = async ({ params }) => {
   console.info(params);
   return {
      props: {},
   };
};

{{else}}
export const getStaticProps: GetStaticProps = async () => {
   return {
      props: {},
   };
};
{{/if}}

export default {{pageName}};
